<%= form_for @dog, html: { multipart: true } do |f| %>
  <% if @dog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dog.errors.count, "error") %> prohibited this dog from being saved:</h2>

      <ul>
        <% @dog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div >
    <%= f.label :image %>:
    <%= f.file_field :image %>
  </div>

  <div >
    <% if f.object.image? %>
      <%= image_tag f.object.image.small.url %>
      <%= f.label :remove_image %>:
      <%= f.check_box :remove_image %>
    <% end %>
  </div>

  <div>
      <%= f.label :list_id %>:
      <%= f.collection_radio_buttons :list_id, List.all, :id, :status %>
  </div>

  <div>
    <%= f.label :breed %>:
    <%= f.text_field :breed %>
  </div>

  <div>
    <%= f.label :color %>:
    <%= f.text_field :color %>
  </div>

  <div>
      <%= f.label :size %>:
      <%= f.radio_button :size, 'Small' %> Small
      <%= f.radio_button :size, 'Medium' %> Medium
      <%= f.radio_button :size, 'Large' %> Large
  </div>

  <div>
      <%= f.label :location %>:
      <%= f.select(:location, options_for_select([["North Durham", "North Durham"], ["Downtown Durham", "Downtown Durham"], ["South Durham", "South Durham"], ["East Durham", "East Durham"], ["West Durham", "West Durham"]]), include_blank: true) %>
  </div>

  <div>
    <%= f.label :date %>:
    <%= f.date_select :date %>
  </div>

  <div>
    <%= f.label :description %>:
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :user_id %>
    <%= f.collection_select :user_id, User.all, :id, :full_name, include_blank: true %>
  </div>

  <div>
    <%= f.submit %>
  </div>

<% end %>
